<header>
    <div class="container">
        <nav class="main-navigation">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">Over</a>
                </li>
                <li>
                    <% if (data.loggedIn === true) { %> 
                        <a href="/logout">Uitloggen</a>
                    <% } else if (data.loggedIn === false) { %>
                        <a href="/login">Inloggen</a>
                    <% } %>
                </li>
                <% if (data.loggedIn === false) { %>
                    <li>
                        <a href="/register">Registeren</a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>