<% include partials/head %>
<% include components/header %>

 
        <main class="container">
            <h1>
                About
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti voluptas et dolorem vero, dolore, aut quasi quidem saepe iure cupiditate totam repellendus sequi ducimus at necessitatibus distinctio facere veritatis voluptates.</p>
        </main>
 

<% include components/footer %>