<% include partials/head %>

    <body>
        <main>
            <h1>
                Home
            </h1>
            <a href="/test">Detail</a>
        </main>
    </body>

<% include partials/footer %>