<% include partials/head %>
<% include components/header %>

        <main class="container">
            <h1>Welkom <%= data.payload.user %>!</h1>
            <a href="/test">Detail</a>
        </main>

<% include components/footer %>