<% include partials/head %>
<% include components/header %>

        <main class="container">
            <h2>Je bent niet ingelogd</h2>
            <a href="/login">Inloggen</a>
        </main>

<% include components/footer %>