<% include ../partials/head %>

        <main>
            <h1 class="is-size-4">
               Oeps! Er ging iets mis.
            </h1>
            <p>404: Deze pagina kon niet worden gevonden</p>
            <hr>
            <p><a href="/">< Terug naar overzicht</a></p>
            
        </main>

<% include ../components/footer %>