<% include ../partials/head %>
<% include ../components/sidebar %>
 
        <main>
            <h1 class="is-size-4">
                Over deze applicatie
            </h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti voluptas et dolorem vero, dolore, aut quasi quidem saepe iure cupiditate totam repellendus sequi ducimus at necessitatibus distinctio facere veritatis voluptates.</p>
        </main>
 

<% include ../components/footer %>