<% include ../partials/head %>
<% include ../components/sidebar %>
 
        <main>
            <h1 class="is-size-4">
                Over deze applicatie
            </h1>
            <hr>
            <p>Deze webapplicatie is ontwikkeld als eindopdracht voor het vak Backend Development van de opleiding CMD, Hogeschool v. Amsterdam.
            </p>
            <p>De focus van deze opdracht lag op het ontwikkelen van een solide backend die om kan gaan met een aantal handelingen:
                <ul>
                    <li>Serveren van HTML/CSS/Javascript naar de browser</li>
                    <li>Afhandelen van requests (GET/POST)</li>
                </ul>
            </p>

        </main>
 

<% include ../components/footer %>